extends ../common/bootstrap.pug
block content
	h1 My users
	a(href="/users/create") Add user
	form.d-flex(action="/users/search", method="GET")
		input.form-control(type="text", name="q")
		button.btn.btn-primary Submit
	table.table
		th Image
		th Name
		th Phone
		th Link
			each value, index in users
				tr
					td
						img(src=value.path, alt="No image")
					td=value.name
					td=value.phone
					td
						a(href="/users/"+value.id) Link