html
	head
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
	body
		ul.nav.nav-tabs(style='background-color: #D7D7D7')
			li.nav-item
				a.nav-link.active(href='/')= name
			li.nav-item
				a.nav-link(href='/') Home
			li.nav-item
				a.nav-link(href='/users') Users
			li.nav-item
				a.nav-link(href='/users/create') Create
			li.nav-item
				a.nav-link(href='/goods/') Goods
		block content
